<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
</head>

<body>
    <div class="container">
        <h2>My To-Do list</h2>
        <form action="/user/login" method="post">
            <div class="form-item">
                <label for="username">Username:</label>
            </div>
            <div class="form-item">
                <input type="text" name="username" />
            </div>
            <div class="form-item">
                <label for="password">Password:</label>
            </div>
            <div class="form-item">
                <input type="password" name="password" />
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>